.hebergement-services .list-services {
    gap: 25px;
}

.hebergement-services .list-services .item h3 {
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: 45px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -0.42px;
    font-size: 24px;
}

.heading .title {
    width: 900px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.list-services .item {
    width: 100%;
}

.hebergement-services .desc-cat-rooms {
    position: absolute;
    z-index: 3;
    top: 400px;
    text-align: center;
    color: #141617;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    line-height: 27px;
    padding: 0 29px;
}

.hebergement-services .list-services .item-content {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    height: unset;
    padding: unset;
    color: #FFF;
    text-align: center;
    line-height: 22px;
    margin-bottom: 64px;
}

.hebergement-services .item:hover .item-featured::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.hebergement-services .item:hover .desc-cat-rooms {
    top: 122px;
    transition: all 1s;
}

.hebergement-services .btn-read {
    border: 1px solid #ffffff;
    background-color: unset;
    padding: 7px 49px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.hebergement-services .list-services .item img {
    height: 356px;
    object-fit: fill;
}

.hebergement-services {
    margin-top: 60px;
}

.hebergement-services .heading .description {
    width: 50%;
    display: block;
    margin: 0px auto 0 auto;
    text-align: center;
}

.hebergement-services .heading .title {
    margin: 0 auto 24px;
}

.restaurant-intro-section .container-intro {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 29px;
    gap: 26px;
}

.restaurant-intro-section p,
.container-info-p {
    font-size: 16px;
    font-weight: 400;
}


.restaurant-intro-section .btn-read {
    border: 1px solid #000000;
    background-color: unset;
    padding: 7px 49px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-read:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.hebergement-services .btn-read:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #ffffff;
}

.restaurant-intro-section {
    margin-top: 40px;
}

.content-img img {
    width: 100%;
}

.list-services {
    display: flex;
    gap: 0;
}

.list-services .item img {
    width: 100%;
    height: 335px;
    object-fit: cover;
}

.list-services .item .item-featured {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.list-services .item h2 {
    position: absolute;
    top: 50px;
    left: 30px;
    color: #fff;
    font-family: "Palatino Linotype";
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.6px;
    font-size: 35px;
    padding-bottom: 20px;
}

.list-services .item-content {
    padding: 30px 25px;
    color: #141617;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    line-height: 27px;
    height: 195px;
}

.list-services .read-more {
    padding: 0 25px;
}

.items-services {
    margin-top: 70px;
    padding: 0 3px;
}


@media(max-width:500px){
    .heading .title{
        width: 100%;
    }

    .hebergement-services .heading .description{
        width: 100%;
    }

    .heading {
        padding: 0 10px;
    }

    .hebergement-services {
        margin-top: 30px;
    }

    .hebergement-services .heading .description {
        font-size: 14px;
    }

    .list-services{
        display: block;
    }

    .items-services {
        margin-top: 40px;
        padding: 0 10px;
    }

    .list-services .item {
        margin-bottom: 15px;
    }

    .restaurant-intro-section .container-intro {
        width: 100%;
        display: block;
        padding: 0;
    }

    .restaurant-intro-section p, .container-info-p {
        font-size: 14px;
    }
    
    .restaurant-intro-section {
        margin-top: 60px;
    }

    .content-img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hebergement-services .list-services .item-content{
        margin-bottom:30px;
    }


}